---
layout: unstuck
permalink: /ethical-digital-strategy/index.html
title: 'Split Petal - Ethical Digital Strategy'
description: 'Building your online presence with purpose, guided by your values'
intro: "Split Petal is a digital shop for weirdos with ethics, vision and purpose. Split Petal makes websites using tools that are open, ethical and accessible."
---

{% css "local" %}
  {% include "css/unstuck.css" %}
{% endcss %}

{% js "inline" %}
  {% include "scripts/unstuck.js" %}
{% endjs %}


<section class="a11y_container full_page-content">
  <div class="dt_a11y-text">
    <div class="dt_a11y-text-content">
      <p>
        An ethical digital strategy is about building your online presence with purpose. It means being intentional with how you share, connect, and create in digital spaces—guided by your values, not just by trends or algorithms.
      </p>

      <p>It's about choosing tools and tactics that reflect care—for your community, for your audience, and for the planet. By approaching your website this way, you're not just building something functional or beautiful—you're making something meaningful. Something that reflects who you are, what you stand for, and how you want to show up in the world.</p>

      <p>Ethical strategy doesn't limit your creativity—it makes it deeper, more aligned, and more impactful.</p>
    </div>
  </div>
</section>