---
layout: unstuck
permalink: /index.html
title: 'Unstuck Digital'
description: 'Unstuck'
intro: "Unstuck Digital is a digital shop for weirdos with ethics, vision and purpose. Unstuck makes websites using tools that are open, ethical and accessible."
---

{% css "local" %}
  {% include "css/unstuck.css" %}
{% endcss %}

{% js "inline" %}
  {% include "scripts/unstuck.js" %}
{% endjs %}





