---
layout: base
permalink: /toomuchinfo/wfts.html
title: 'Too Much Information - Waitiing For The Sun'
description: 'Too Much Information - Waiting For The Sun'
---

<header>
    <h1>The Doors</h1>
    <h2>Waiting for the Sun</h2>
</header>

