<section class="unstuck_container unstuck_left">
    <div class="unstuck_content">
      <h1>{{ title }}</h1>
      <h3>{{ intro }}</h3>
    </div>
  </section>
  
  <section class="unstuck_container unstuck_right">
    <div class="unstuck_content">
      <p>Let’s face it, your digital presence matters.
        And, whether you give a sh*t about it to or not, it’s the dividing line 
        between a site your friends politely visit and a site delivered to the folx you serve.
        But keeping up with the digital world is tough, especially with limited resources.
        That’s where we come in! 
        From assessments to development to a rad new 
        Oligarch-Free, Fedi-Verse–social 
        networking in the service of
        community, we gotchu. </p>
    </div>  
  </section> 