<section class="unstuck_area">
    <article class="unstuck_sidebar unstuck_a11y" data-js="us_a11y">
      <strong>Accessibility & Equity</strong>
      <p>
        Access isn’t optional—it's how you turn your values into structure, and your site into a space where everyone can belong.
      </p>
    </article>
    <article class="unstuck_sidebar unstuck_strat" data-js="us_strat">
      <strong>ethical digital strategy</strong>
      <p> 
        Ethical digital strategy is the art of building websites like haunted houses with good intentions—full of trapdoors to truth, glowing signage for consent, and no hidden fees lurking under the bed.   </p>
    </article>
    <article class="unstuck_sidebar unstuck_fedi" data-js="us_fedi">
      <strong>Digital Sovereignty</strong>
      <p>
        Digital sovereignty is holding space on the internet like unceded land—refusing to hand your voice, data, or community over to platforms that mine what they should never own.    </p>
    </article>
    <article class="unstuck_sidebar unstuck_indie" data-js="us_indie">
      <strong>Fediverse & Indieweb</strong>
      <p>
        The Fediverse and Indieweb are your digital escape routes—decentralized, self-owned spaces where you control your content, build real connections, and opt out of the corporate-controlled internet.
  
      </p>
    </article>
    <article class="unstuck_sidebar unstuck_course" data-js="us_course">
      <strong>Be Your Own Dev</strong>
      <p>
        "Be Your Own Dev" is your DIY handbook for the internet—no corporate overlords, no fancy degrees, just you, your grit, and a whole bunch of open-source tools to build the web your way.    </p>
    </article>
  </section>
  